.list{
	width: 100%;
	padding:0 15px;
}
.list ul li{
	display: flex;
	padding: 15px 0;
 border-bottom: 1px solid #f0f1f2;
}
.list ul li img{
	width: 66px;
	height: 90px;
}
.list ul li .book-detail{
	flex: 1;
	margin-left: 20px;
	position: relative;
}
.list ul li .book-detail h3{
	font-size: 16px;
}
.list ul li .book-desc{
	display: -webkit-box;
	/*! autoprefixer: off */
  -webkit-box-orient:vertical;
  /* autoprefixer: on */
  -webkit-line-clamp:2;
  overflow: hidden;
  font-size: 14px;
  margin-top:5px;
}
.list ul li .book-meta{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0;
	line-height: 20px;
}
.list ul li .book-meta>span{
	display: inline-block;
}
.list ul li .book-meta .author{
	font-size: 14px;
	color: grey;
	float: left;

}
.list ul li .book-meta .type{
	font-size: 13px;
	color: #f16299;
	float: right;
	margin-left: 10px;
}
.list ul li .book-meta .ser{
  color: #f69a48;
  font-size: 13px;
  float: right;
	
}